.FakeAPIPay {
  padding: 20px 4% 30px 22%;
  color: #454545;
}

.bold {
  font-weight: bold;
}

.mt10px {
  margin-top: 10px;
}

.w20pt {
  width: 20%;
}

.w25pt {
  width: 25%;
}

.w30pt {
  width: 30%;
}

.w50pt {
  width: 50%;
}

.w100pt {
  width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.center {
  align-items: center;
}

.spbw {
  justify-content: space-between;
}

.userName {
  width: 30%;
  padding: 5px 5px;
  margin: 10px 10px;
  border: 1px solid #8e8e8e;
  border-radius: 10px;
}

.selectOption {
  padding: 5px 5px;
  margin-top: 10px;
  border: 1px solid #8e8e8e;
  border-radius: 10px;
}

.listProductTmp {
  width: 90%;
  margin-top: 10px;
}

.btlAddProduct {
  padding: 10px 15px;
  color: white;
  background-color: #0aace0;
  border: none;
  border-radius: 10px;
}

.table {
  width: 100%;
}

.inputDate {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #6c6b6b;
  margin: 10px;
  font-size: 16px;
}

.summit {
  color: white;
  background-color: red;
  padding: 10px;
  width: 20%;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
}