.flex {
  display: flex;
  flex-wrap: wrap;
}

.listProduct {
  padding-top: 130px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.categoryLists {
  width: 20%;
}

.listCategoryProduct {
  width: 75%;
}

.categoryProductH {
  margin-bottom: 10px;
  border-bottom: 2px solid #cccccc;
}

.categoryProductHT {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 5px;
}

.mr5pt {
  margin-right: 5%;
}

.itemPro {
  width: 21%;
  margin-bottom: 50px;
}

.page {
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
  font-size: 16px;
}

.inputPage {
  border: none;
  width: 20px;
  font-size: 16px;
  color: #454545;
}

.iconChevrons {
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 0 20px;
}
