.header {
  width: 100%;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 30px;
}

.headerList {
  width: 70%;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {

}
